/* 关注按钮 */
.followed{
	color: #969696;
}
/*　图文面板　*/
.usercenter-img-txt{
	margin:0 auto;
	width:960px;
	position: relative;
}
.usercenter-img-txt-main{
	width: 600px;
	float: left;
}
.usercenter-img-txt-main ul{
	width: 600px;
	list-style: none;
	margin:0px;
	padding:0px;
	float: left;
}
.usercenter-img-txt-main ul li{
	width: 100%;
	height: 260px;
	margin-top: 20px;
	padding:20px;
	padding-right: 220px;
	float: left;
	background:white;
	box-shadow: 0 1px 3px rgba(0,37,55,.05);
	position: relative;
}
.img-txt-main-img{
	width: 200px;
	height: 140px;
	position: absolute;
	border-radius:3px;
	background: url(../../images/usercenter/love-banner/love-2.jpg) center;
	background-size:120%;
	right: 10px;
	top: 60px;
}
.img-txt-main-bottom{
	height: 20px;
	width: 100%;
	margin-top: 10px;
}
.bottom-label{
	width: 62px;
	height: 20px;
	line-height: 20px;
	color: #ea6f5a;
	font-size: 13px;
	padding:2px 6px;
	border:1px solid rgba(236,97,73,.7);
	border-radius:3px;
}
.bottom-label:hover{
	background: #fef7f6;
	color: #ea6f5a;
}
.bottom-label:focus{
	color: #ea6f5a;
}
.bottom-click{
	margin-left: 10px;
	color: #b4b4b4;
}
.bottom-click:hover{
	color: #787878;
}
.liked{
	color: red!important;
}
.remind-label{
	margin-top: 20px;
	font-size: 14px;
	color: #969696;
}
.img-txt-main-author a{
	float: left;
	display: block;
	height: 32px;
	line-height: 32px;
	color:black;
	font-size: 15px;
}
.img-txt-main-author a img{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-top: 1px;
	margin-right: 10px;
}
.img-txt-main-title{
	display: block;
	width: 100%;
	height: 27px;
	line-height: 27px;
	font-size: 18px;
	font-weight: 700;
	margin-top: 10px;
	color: black;
}

.img-txt-main-title:hover{
	text-decoration: underline;
	color: black;
}
.img-txt-main-txt{
	width: 100%;
	height: 120px;
	font-size: 13px;
	line-height: 24px;
}
.usercenter-img-txt-remind{
	position: absolute;
	top: 20px;
	right: 0px;
	width: 340px;
}
.usercenter-img-txt-remind-border{
	width: 100%;
	height: 120px;
	background:white;
	box-shadow: 0 1px 3px rgba(0,37,55,.05);
}
.usercenter-img-txt-remind-border ul{
	width: 100%;
	height: 100%;
	margin:0px;
	padding:0px;
	padding-left: 1%;
}
.usercenter-img-txt-remind-border ul li{
	width:33%;
	height: 100%;
	list-style: none;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
}
.usercenter-img-txt-remind-border ul li a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: black;
	font-size: 18px;
	line-height: 40px;
}
.border-decoration-line{
	width: 1px;
	height: 80px;
	position: absolute;
	background: #f0f2f7;
	top: 20px;
}
.line-fix-1{
	left: 111px;
}
.line-fix-3{
	left: 222px;
}
.follow-nav-list{
	padding:0px;
	margin:0px;
	width: 100%;
	margin-bottom: 20px;
}
.load-more{
	display: block;
	width: 100%;
	height: 34px;
	line-height: 34px;
	background: white;
	border-radius: 4px;
	border:1px solid #dcdcdc;
	font-size: 13px;
	color: black;
	text-align: center;
}
.follow-nav-list li{
	float: left;
	margin-top: 15px;
	width: 100%;
	position: relative;
}
.follow-head{
	border-radius: 50%;
	display: block;
	float: left;
	margin-right: 10px;
}
.follow-head img{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border:1px solid #ddd;
	display: block;
	float: left;
}
.follow-add-btn{
	position: absolute;
	right: 0px;
	top: 5px;
	font-size: 13px;
}
.follow{
	color: #42c02e;
}
.follow-name{
	color: #333;
	font-weight: 700;
	font-size: 13px;
	margin-top:5px;
	display: block;
}
.follow-introduce{
	display: block;
	float: left;
	font-size: 12px;
	margin-top: 5px;
	color: #969696;
}
