a:focus{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.main-browse{
	padding-top: 20px;
	padding-bottom: 40px;
	margin:0 auto;
	width: 620px;
}
.browse-title{
	font-size: 34px;
	margin-top: 20px;
	font-weight: 700;
	line-height: 1.3;
}
body{
	background: white;
}
.browse-author{
	margin:30px 0 40px;
}
.browse-author-head{
	width: 48px;
	height: 48px;
	display: block;
	vertical-align: middle;
	border: 1px solid #ddd;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.browse-author-head img{
	width: 100%;
	height: 100%;
}
.browse-author-info{
	margin-left: 10px;
	display: block;
	height: 48px;
	float: left;
}
.browse-author-name{
	height: 50%;
	display:block;
}
.browse-author-name a{
	color: black;
	font-size: 15px;
	line-height: 24px;
}
.browse-author-time {
	height: 50%;
	padding-top: 5px;
	display: block;
}
.browse-author-time span{
	font-size: 12px;
	color: #969696;
	padding-right: 5px;
}
.browse-content{
	width: 620px;
}
.browse-content img{
	width: 100%;
}
.browse-content p{
	margin: 10px 0;
    line-height: 1.8;
}
.browse-foot{
	margin:40px 0 30px;
	text-align: center;
	color: black;
	font-size: 14px;
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 50px;
}
.follow-change-btn{
	padding:0px 10px;
	height: 18px;
	line-height: 18px!important;
	text-align: center;
	font-size: 12px!important;
	border-radius: 9px;
	display: inline-block;
	margin-left: 10px;
}
.follow:hover{
	background: #3db922
}
.follow{
	color: white!important;
	background: #42c02e;
}
.followed{
	background: none;
	border: 1px solid hsla(0,0%,59%,.6);
	color:#8c8c8c!important;
}
.follow-cancel{
	background: #f8f8f8;
	border:1px solid hsla(0,0%,59%,.6);
	color: #8c8c8c!important;
}
.browse-comment{
	width: 620px;
	height: 269px;
	position: relative;
	margin-top: 50px;
}
.browse-comment .w-e-text-container{
	height: 235px!important;
	border:none!important;
}
.browse-comment-head{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid #ddd; 
	display: block;
	border-radius: 50%;
	overflow: hidden;
}
.browse-comment-head img{
	width: 100%;
	height: 100%;
}
#comment-editor{
	width:560px;
	height: 100%;
	margin-left: 60px;
	border: 1px solid #dcdcdc;
}
#comment-editor .w-e-toolbar{
	border:none!important;
}
body{
	padding-bottom: 200px;
}
.comment-btn-box{
	width: 100%;
	padding-left: 60px;	
	margin-top: 10px;
	padding-bottom: 50px;
	border-bottom: 1px solid #f0f0f0;
	position: relative;
}
.send-comment-msg{
	width: 115px;
	font-size: 17px;
	color: white;
	text-align: center;
	height: 37px;
	line-height: 37px;
	float: right;
	background:#42c02e;
	cursor: pointer;
	border-radius: 3px;
}
.send-comment-msg:hover{
	background: #3db922;
}
.love-article-btn{
	width: 115px;
	font-size: 17px;
	color: white;
	text-align: center;
	height: 37px;
	line-height: 37px;
	float: left;
	cursor: pointer;
	border-radius: 3px;
}
.love-article-btn-before:hover{
	background: #f3e3eb;
}
.love-article-btn-before{
	background:#fbebf3;
	color: red;
}
.love-article-btn-click{
	background: red;
	color: white;
}
.browse-comment-area{
	width: 100%;
}
.comment-area-ul{
	width: 100%;
	padding:0px;
	margin:0px;
}
.comment-area-ul li{
	list-style: none;
	width: 100%;
	padding:25px 10px 20px 50px;
	position: relative;
}
.comment-area-time{
	font-size: 12px;
	line-height: 14px;
	margin-top: 6px;
	height: 14px;
	color: #aaa;
}
.comment-user-name{
	display: block;
	float: left;
	height: 20px;
	color: #000;
	font-size: 18px;
	line-height: 20px;
}
.comment-area-btn{
	width: auto;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	float: right;
	color: #b3b3b3;
	margin-left: 20px;
}
.comment-area-btn span{
	margin-left: 5px;
}
.comment-area-btn i{
	font-size: 14px;
}
.comment-btn i{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 18px;
}
.comment-user-head{
	width: 40px;
	height: 40px;
	position: absolute;
	display: block;
	left: 0px;
	top: 25px;
	border-radius: 20px;
	overflow: hidden;
}
.comment-user-head img{
	width: 100%;
	height: 100%;
}
.comment-area-text p{
	margin: 10px 0;
    line-height: 1.8;
}
.child-comment-area {
	display: none;
}
.child-comment-area textarea{
	padding: 10px;
	max-height: 112px;
    width: 100%;
    resize: none;
    height:62px;
    outline: none;
}
.child-comment-area a{
	width: 60px;
	height: 25px;
	display: block;
	float: right;
	text-align: center;
	line-height: 25px;
	font-size: 13px;
	color: white;
	border-radius: 3px;
	background: #42c02e;
}
.child-comment-area a:hover{
	background: #3db922;
}
.child-area-text{
	margin-top: 10px;
	margin-bottom: 10px;s
}
.liked{
	color: red;
}
.browse-report-btn{
	font-size: 18px;
	display: none;
	position: absolute;
	right: 150px;
	top: 7px;
	color: #85888a;
}
textarea{
	resize: none;
}